.photography_categoryWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 5rem;
}
.photography_category {
    height: 25rem;
    width: 47%;
    margin: 0rem 1rem 1rem 0rem;
    cursor: pointer;
    transition: all .3s;
}

.photography_category.travel{
    background: url(https://res.cloudinary.com/emacon-production/image/upload/v1667980199/Klein%20Nettoh%20Portfolio/travel/kleinNettoh-3508_orewlt.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
}
.photography_category.travel:hover {
    background-size: 110%;
}

.photography_category.people{
    background: url(https://res.cloudinary.com/emacon-production/image/upload/v1667980092/Klein%20Nettoh%20Portfolio/people/DSC_4078_gixr5s.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.photography_category.people:hover {
    background-size: 110%;
}

.photography_category.wildlife{
    background: url(https://res.cloudinary.com/emacon-production/image/upload/v1667979990/Klein%20Nettoh%20Portfolio/wildlife/DSC_0467_uv19xb.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.photography_category.wildlife:hover {
    background-size: 110%;
}

.photography_category.spaces{
    background: url(https://res.cloudinary.com/emacon-production/image/upload/v1667980106/Klein%20Nettoh%20Portfolio/spaces/DSC_8368_tjciqy.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.photography_category.spaces:hover {
    background-size: 110%;
}

.categoryDetails_Wrapper {
    position: absolute;
    /* background: black; */
    height: inherit;
    width: 100%;
    opacity: 0.3;
}

.category_details {
    color: #fff;
    padding: 1rem 3rem;
}

.category_details h2 {
    position: relative;
    bottom: 0;
}

@media screen and (max-width: 1080px) {
    .category_details {
        padding: 1rem 1rem;
    }
    .photography_categoryWrapper {
        padding: 0rem 2rem;
    }
}

@media screen and (max-width: 650px) {
    .photography_categoryWrapper {
        padding: 0rem 1rem;
    }


    .photography_category {
        width: 100%;
    }
}

@media screen and (max-width: 490px) {}