.media_title {
    text-align: center;
    padding: 0rem 10rem 2rem 10rem;
}

.media_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0rem 9rem 2rem 9rem;
}

.media_images img {
    height: 15rem;
    object-fit: cover;
    padding: 0.5rem;
}

@media screen and (max-width: 650px) {
    .media_title {
        text-align: center;
        padding: 0rem 1rem 2rem 1rem;
    }
}